{% extends 'base.html.twig' %}
{% block hero %}{% endblock %}
{% block title %}Nouveau mot de passe
{% endblock %}

{% block body %}
	<div class="container">
		<div class="forgot-form m-4">
			{{ form_start(form) }}
			<div class="block-form">
				<div class="form-content">
					{{ form_row(form.password) }}
				</div><br>
				<button type="submit" class="btn btn-primary">Envoyer</button>
			</div>
			{{ form_end(form) }}
		</div>
	</div>
{% endblock %}
