{% extends 'base.html.twig' %}

{% block title %}
	vie privé
{% endblock %}
{% block hero %}{% endblock %}
{% block body %}

	<div class="container mt-5">

		<h1 class="my-5">Snow Tricks</h1>

		<h2>
			Email:</h2>
		<em><br>
			<h2>snowtricks@gmail.com</h2>
		</em>

	</div>
{% endblock %}
