{% extends 'base.html.twig' %}

{% block title %}
	vie privé
{% endblock %}
{% block hero %}{% endblock %}
{% block body %}

	<div class="container text-justify mt-5">
		<h1 class="my-5">Politique de confidentialité</h1>

		<p>Nous sommes particulièrement attentifs à préserver la confidentialité des données des usagers qui utilisent ce site. Ainsi, aucune donnée nominative n’est présente sur ce site. Par ailleurs, dans la conduite de nos opérations, nous nous efforçons de respecter en tout temps la confidentialité de vos données personnelles.</p>

		<p>
			<mark>Voici les informations recueillies lorsque vous fréquentez notre site :</mark>

			<ul>
				<li>Information obtenue lors de votre accès au site:<br>

					Comme pour tout site web, les serveurs qui hébergent nos sites identifient l’adresse Internet
					<strong>(IP)</strong>
					de votre connexion internet afin de permettre l’échange de données entre nos serveurs et votre ordinateur. Aucune information permettant de vous identifier n’est associée à votre adresse IP.
				</li><br>

				<li>Informations obtenues par les «fichier-témoins»
					<strong>(cookies)</strong>:<br>

					Les «cookies» ou fichier-témoins sont de petits fichiers texte qui sont téléchargés sur votre disque dur lorsque vous visitez certaines pages web. Ces fichiers sont inoffensifs pour votre ordinateur sur lequel vous avez le plein contrôle. Nos serveurs utilisent ces témoins afin de personnaliser l’affichage des pages et afin de recueillir certaines statistiques d’utilisation de nos sites. Il vous est cependant possible en tout temps de modifier la configuration de votre ordinateur ou de votre logiciel fureteur et de ne plus accepter le téléchargement des cookies.</li>
			</ul>
		</p>
	</div>
{% endblock %}
