{% extends 'base.html.twig' %}


{% block title %}Ajouter une Figure
{% endblock %}
{% block hero %}{% endblock %}

{% block body %}
	<h1 class="test">test</h1>
{% endblock %}
{% block preview %}{% endblock %}
